<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Animated Responsive Image Grid - Cycling through a set of images in a responsive grid." />
    <meta name="keywords" content="grid, images, thumbnails, responsive, css3, jquery, javascript, random, transition, 3d, perspective" />
    <meta name="author" content="Codrops" />
    <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:700,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>

  </head>
  <body>

  <%= render "shared/header" %>


    <div id="block1">
      <h1> THE WORLD'S FIRST
      CROWDFUNDING PLATFORM
      EXCLUSIVELY FOR MISSION-DRIVEN BUSINESS</h1>

      <div id="ri-grid" class="ri-grid ri-grid-size-2">


          <ul>

            <li><a href="#"><%= image_tag "1.jpg" %></a></li>
            <li><a href="#"><%= image_tag "2.jpg" %></a></li>
            <li><a href="#"><%= image_tag "3.jpg" %></a></li>
            <li><a href="#"><%= image_tag "4.jpg" %></a></li>
            <li><a href="#"><%= image_tag "5.jpg" %></a></li>
            <li><a href="#"><%= image_tag "6.jpg" %></a></li>
            <li><a href="#"><%= image_tag "7.jpg" %></a></li>
            <li><a href="#"><%= image_tag "8.jpg" %></a></li>
            <li><a href="#"><%= image_tag "9.jpg" %></a></li>
            <li><a href="#"><%= image_tag "10.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "11.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "12.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "13.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "14.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "15.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "16.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "17.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "18.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "19.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "20.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "21.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "22.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "23.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "24.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "25.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "26.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "27.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "28.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "29.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "30.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "31.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "32.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "33.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "34.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "35.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "36.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "37.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "38.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "39.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "40.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "41.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "42.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "43.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "44.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "45.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "46.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "47.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "48.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "49.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "50.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "51.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "52.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "53.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "54.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "43.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "44.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "45.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "46.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "47.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "48.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "49.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "50.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "51.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "52.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "53.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "54.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "43.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "44.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "45.jpg" %>></a></li>
            <li><a href="#"><%= image_tag "46.jpg" %>></a></li>


          </ul>
        </div>
    </div>
    <div class="row block2">
      <div class="small-6 large-centered columns">

        <div class="row investors">
          <h1> Investors </h1>
          <div class="large-4 columns">
            <h2><i class="fa fa-rocket fa-fw fa-2x"></i> Invest as little as £1</h2>
            <p> Crowdded enables anyone who would like to have a mark on the world to invest from as little as £1 in businesses with a social mission. What makes Crowdded unique is that every business featured on our site provides an obvious benefit to society, health or the environment. Therefore, when you back a business on Crowdded, you know you're supporting a company that aims to make money and make a difference. </p>
          </div>
          <div class="large-4 columns">
          <h2> <i class="fa fa-trophy fa-fw fa-2x"></i></i> Get rewards </h2>
            <p> We value your participations and would like to reward you as much as you grow your Crowd. Earn points from being one of the first investor of a project and leading it to success via sharing it with your friends, family, colleagues, but also all the people you don’t like but who might want to be a part of the completion of any company’s social mission </p>
          </div>
          <div class="large-4 columns">
          <h2> <i class="fa fa-users fa-fw fa-2x"></i>    invite your friends </h2>
            <p> Invite your friends. Unless you're anath, then you won't have any friends. But you can invite your CSS. That will keep you warm at night. You will be up all night to this song. She's up all night to do code. He's up all night to this song. I'm up all night to jQuery. I like the way you work it, no diggity, I wanna bag it up. I like the way you work it, no diggity. Hey Oh, Hey Oh, Dam that code looks good. </p>
          </div>
        </div>
        <div class="row business">
          <h1> Submit your Mission </h1>
          <div class="large-4 columns">
            <h2> <i class="fa fa-exchange fa-fw fa-2x"></i>   Social entrepreneurship </h2>
            <p>  companies with social mission and get noticed via the social impact our growing community provides you.Crowdding should be considered primarily as a philanthropic act. Investors should be aware that no investment is guaranteed a financial return.Next month, we will allow companies responsible businesses such as Body Shop, Divine Chocolate and Cafedirect have shown that companies can be successful while keeping sight of their ethical objectives </p>
          </div>
          <div class="large-4 columns">
          <h2> <i class="fa fa-home fa-fw fa-2x"></i>    Global reach </h2>
            <p> Use Crowdded in order to raise investment for you “social missions". Be listed on the world’s first “Crowdfunding" platform for companies with social mission and get noticed via the social impact our growing community provides you.Crowdding should be considered primarily as a philanthropic act. Investors should be aware that no investment is guaranteed a financial return.Next month, we will allow companies to grow their business by offering equity shares and therefore allowing committed investors to be a part of their mission and help push the project forward. For more info, CONTACT US (link) </p>
          </div>
          <div class="large-4 columns">
          <h2> <i class="fa fa-money fa-fw fa-2x"></i>   Make a difference </h2>
            <p> At Crowdded, we're keen to support businesses that not only make money, but work towards social, health and environmental goals. Socially responsible businesses such as Body Shop, Divine Chocolate and Cafedirect have shown that companies can be successful while keeping sight of their ethical objectives. There are literally thousands of like-minded businesses keen to follow suit and we're here to help make them a success. </p>
          </div>
        </div>
      </div>
    </div>

    <br clear="all">
    <div id="block3">
      <div class="row block3 videorow">
        <div class="small-6 large-centered columns">
          <h1> <%= image_tag "crowdleafgrey.png" %> Feature Project </h1>

              <div class="slidvideo">
               <div id="wistia_72ptjwixw3" data-video-width="640" data-video-height="360"> </div>
             </div>


         </div>

      </div>


    </div>
    <div id="block5">
      <div class="row block5">
        <div class="small-6 large-centered columns">
          <h1><%= image_tag "crowdleaf.png"%> Meet the crowdd </h1>

          <div class="scroller demo2">

            <div class="inside">
              <a href="#"><%= image_tag "img1.jpg" %> </a>

              <p> Jack Daniels </br>
               35 years old </br>
               Web developer </p>
              <a href="#"><%= image_tag "img2.jpg" %> </a>
              <p> Mick Jagger </br>
               30 years old </br>
               Rock band singer </p>
              <a href="#"><%= image_tag "img3.jpg" %> </a>
              <p> Beyonce </br>
               32 years old </br>
               Best dancer ever </p>
              <a href="#"><%= image_tag "img4.jpg" %> </a>
              <p> Melanie Fiord </br>
               28 years old </br>
               Graphic Designer </p>
              <a href="#"><%= image_tag "img5.jpg" %> </a>
              <p> Woddy Allen </br>
               67 years old </br>
               Jewish Film Maker </p>
              <a href="#"><%= image_tag "img6.jpg" %> </a>
              <p> Jean Paul Sartre </br>
               110 years old </br>
                Philosopher and Writer</p>
              <a href="#"><%= image_tag "img7.jpg" %> </a>
              <p> Jayz </br>
               38 years old </br>
              Rapper, Autor, Compositor</p>
              <a href="#"><%= image_tag "img8.jpg" %> </a>
              <p> Mark Zuckerberg </br>
               30 years old </br>
              Founder and CEO at Facebook</p>
              <a href="#"><%= image_tag "img9.jpg" %> </a>
              <p> Ariel Goldenblat </br>
               42 years old </br>
              Vincent Chase's movie agent</p>
              <a href="#"><%= image_tag "img10.jpg"%> </a>
              <p> Serge Gainsburg </br>
               90 years old </br>
              French singer, philosopher, writer, compositor</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="block4">
      <div class="row block4">
        <div class="small-6 large-centered columns">
            <a class="social" href="http://twitter.com/crowdded" style="text-decoration:none" target="_blank">
            <i class="fa fa-twitter fa-5x"></i></a>
            <a class="google" href="http://google.com/crowdfunding" style="text-decoration:none" target="_blank">
            <i class="fa fa-google-plus fa-5x"></i></a>
            <a class="face" href="http://facebook.com/anath.abensour" style="text-decoration:none" target="_blank">
            <i class="fa fa-facebook fa-5x"></i></a>
            <a class="linkedin" href="http://linkedin.com/" style="text-decoration:none" target="_blank">
            <i class="fa fa-linkedin fa-5x"></i></a>
        </div>
      </div>
    </div>





    <footer>@James Brooke/Tom Shacham/Gianni Guitteaud/Giacomo Patella/Anath Abensour</footer>

    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "foundation.min.js" %>
    <%= javascript_include_tag "jquery.easing.js" %>
    <%= javascript_include_tag "scroller.js" %>
    <%= javascript_include_tag "init.js" %>
    <%= javascript_include_tag "jquery.gridrotator.js" %>

    <script src="http://fast.wistia.net/static/E-v1.js"></script>

    <script type="text/javascript">
      $(document).foundation();

      $(function() {

        $( '#ri-grid' ).gridrotator( {
          rows    : 5,
          columns   : 12,
          animType  : 'fadeInOut',
          animSpeed : 500,
          interval  : 200,
          step    : 1,
          w320    : {
            rows  : 3,
            columns : 4
          },
          w240    : {
            rows  : 3,
            columns : 4
          }
        } );



        wistiaEmbed = Wistia.embed("72ptjwixw3", {


        playerColor: "ff0000",
        fullscreenButton: false,
        container: "wistia_72ptjwixw3",
        videoFoam: true



        });

        });


    </script>
  </body>
</html>
