<% if current_user %>
  <%= link_to 'Launch a Mission', new_project_path %>

  <% @projects.each do |proj| %>
    <h3>Mission</h3>
    <%= proj.name %>
    <h4>
      Captain: <%= proj.creator %>
    </h4>
    <h4>Statement</h4>
    <%= proj.mission_statement %>
    <%= button_to 'Donate', new_charge_path, method: :get %>
  <% end %>
<% end %>