<head>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<%= render "shared/header" %>

<div class="body">
  <div class="row block2">
      <div class="small-6 large-centered columns">

          <%= form_for :project do |f| %>

            <%= f.text_field :search, placeholder: "Search.."%>
              
              


          <% end %>

          

          <div class="proj-container">
            <% if @projects %>
              <% @projects.each do |prj| %>
                <div class='project-box'>
                  <h3>
                    <%= link_to prj.name, project_path(prj) %>
                  </h3>
                  <h4>
                    Mission: <%= prj.headline %>
                  </h4>
                  <h4> 
                    Raised: £ 
                    <% if prj.funds %>
                      <%= prj.funds /  100 %> 
                    <% else %>
                      0
                    <% end %>
                    of <%= prj.target %>
                  </h4>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

</div>