<head>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,900,800,700,500,300,100,200' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag "foundation.css" %> 
      <%= stylesheet_link_tag "project-index.css" %> 
</head>
>>>>>>> giacomo
<body>
<%= render "shared/header" %>

<!-- <div class="body"> -->

  
  <div class="row">
      <div class="large-12 columns search">

          <%= form_for :project do |f| %>

            <%= f.text_field :search, placeholder: "Search.."%>

          <% end %>
      </div>
  </div>

  <div class="row">
    <div class="large-12 columns proj-boxes">
        <div class="proj-container">
          <% if @projects %>
            <% @projects.each do |prj| %>
              <div class='project-box'>
              <%= link_to project_path(prj) do %>
                <img src="<%= prj.thumbnail %>?&image_play_button=true&image_play_button_color=FF463A&image_crop_resized=200x113"/>                  
              <% end %>
                <h3>
                  <%= link_to prj.name, project_path(prj) %>
                </h3>
                <h5>
                  <strong>Mission:</strong> <%= prj.headline %>
                </h5>
                <% if prj.funds %>
                <h5>
                  <strong>Raised:</strong> £
                  <%= prj.funds /  100 %> of <%= prj.target %>
                </h5>
                <%end%>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

<!-- </div>
 -->
