<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submit your project</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,900,800,700,500,300,100,200' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "component" %>
    <%= stylesheet_link_tag "foundation" %>
    <%= stylesheet_link_tag "project-submit" %>
    <%= javascript_include_tag "modernizr.custom.js" %>
    <%= javascript_include_tag "modernizr.js" %>
    <%= javascript_include_tag "application.js" %>

</head>
  <body>
    <div class="page-container">

    <div class="row projectform">
        <div class="large-12 columns leaf">
          <%= image_tag "crowdleafgrey.png" %>
        </div>
    </div>

    <% if current_company %>
    <div class="row projectform">
      <%= form_for @project do |f| %>
        <div class="large-12 columns">

          <div id="submit-title">
            <h2>SUBMIT YOUR PROJECT</h2>
            <div class="large-12 columns">
              <div id="wistia-upload-widget" style="width:400px; height:30px; margin:40px auto;"></div>
            </div>
          </div>
        </div>
      </div>

    <form>
      <div class="row projectform">
        <div class="large-12 columns">
          <label>Name
            <%= f.text_field :name, placeholder: "Project Name" %>
          </label>
        </div>
        <div class="large-12 columns">
          <label>Headline
            <%= f.text_field :headline, placeholder: "Brief Description of the project (max 100 characters)" %>
          </label>
        </div>
      </div>
      <div class="row projectform">
        <div class="large-6 columns">
          <label>Target
            <%= f.text_field :target, placeholder: "Amount you wish to raise in £s" %>
          </label>
        </div>
        <div class="large-6 columns">
          <label>Duration
            <%= f.text_field :duration, placeholder: "Set a time limit for when you need the funds by" %>
          </label>
        </div>
      </div>
      <div class="row projectform">
        <div class="large-12 columns">
          <label>Give a bit more information about your project
            <%= f.text_field :project_info, placeholder: "Why does this project matter?" %>
          </label>
        </div>
      </div>
      <div class="row projectform">
        <div class="large-12 columns">
          <label>Give a bit more information about your company
            <%= f.text_field :company_info, placeholder: "Why are you guys the people to do it?" %>
          </label>
        </div>
      </div>

        <div class="row projectform">
          <div class="large-12 columns">
            <div id="launch-btn" style="text-align:center;">
             <%= f.hidden_field :hashed_id, :value => "", :id => "project_hashed_id" %>
             <%= f.hidden_field :company_id, :value => current_company.id %>
             <%= f.hidden_field :thumbnail, :value => "", :id => "project_thumbnail" %>
             <%= f.button :Launch %>
            </div>
         </div>
       </div>
    </form>
    <% end %>
  </div> <!-- end of page container -->
    <% else %>
      <div class="row projectform">
          <div class="large-12 columns leaf">
            Please <a href='/companies/sign_in'> sign in as a company</a> first.
          </div>
      </div>
     <% end %>

  <%= javascript_include_tag "foundation.min.js" %>

   <script>
      $(document).foundation();
   </script>
   <script src="http://static.wistia.com/javascripts/upload_widget.js"></script>
   <script>
      var widget1 = new wistia.UploadWidget({
        divId: 'wistia-upload-widget',
          publicProjectId: 'tluer5qj30',
            callbacks: {
              'uploadSuccess': function(jsonFile){
                $('#project_hashed_id').val(jsonFile['hashed_id']);
                $('#project_thumbnail').val(jsonFile['thumbnail']['url']);
              }
            }
     });
   </script>
  </body>
</html>

