<%= link_to 'Back to Launch Center', projects_path %>

<%= form_for @project do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :headline %>
  <%= f.text_field :headline %>

  <div id="wistia-upload-widget" style="width: 200px; height: 30px;"></div>
  <script src="http://static.wistia.com/javascripts/upload_widget.js"></script>
  <script>
    var widget1 = new wistia.UploadWidget({
      divId: 'wistia-upload-widget',
      publicProjectId: '8fwsjy2xc5',
      callbacks: {
        'uploadSuccess': function(jsonFile){
          $('#project_hashed_id').val(jsonFile['hashed_id']);
        }
      }
    });
  </script>
  <br/>
  <br/>
  <%= f.hidden_field :hashed_id, :value => "" %>
  <%= f.submit :launch %>

<% end %>
