<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <%= stylesheet_link_tag "foundation.css" %> 
    <%= stylesheet_link_tag "project.css" %> 
    <%= stylesheet_link_tag "style1.css" %> 

    <%= javascript_include_tag "application" %>

    <%= javascript_include_tag "modernizr.js" %>
    <%= javascript_include_tag "modernizr.custom.js" %>


    <%= stylesheet_link_tag "main1.css" %>
    <%= stylesheet_link_tag "style.css" %>


  </head>
  <body>
    <%= render "shared/header" %>

<!-- TOP SECTION: PROJECT OVERVIEW -->
    <div id="block1-bg">

        <div class="row">

          <div class="large-12 columns">
            <ul class="project-title">
              <li class="li-title"><h1><%= @project.name %></h1></li>
              <li class="li-subtitle"><h4>An Environment project from St Agnes, Cornwall by surfers-against-sewage</h4></li>
              <hr/>
            </ul>

            <ul id="double">
              <li class="above"><h2>
                £<span class="amount_raised" data-id="<%= @project.id %>">
                  <%= @project.donations_total/100 %>
                </span></h2></li>
              <li class="above"><h2>16</h2></li>
              <li class="above"><h2>£ 2K</h2></li>
              <li class="below"><h4>From £1 donations</h4></li>
              <li class="below"><h4>Days to go</h4></li>
              <li class="below"><h4>Target</h4></li>
            </ul>

          </div> <!-- large-12 columns -->
        </div>  <!-- end row -->

        <% if @project.donations %>
          <div class="row">

            <div class="recent_donors" data-id="<%= @project.id %>">
              <ul>
                <% @project.recent_five.reverse.each do |donation| %>
                  <li class="recent-donor-li">
                    <%= donation.user.name %> gave £1.00 <%= "#{time_ago_in_words(donation.created_at)}"  %> ago!
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <div class='row' style="padding: 10px 5px 0px 10px;">
          <div class="large-8 medium-12 columns wistia">
            <div id="wistia_<%= @project.hashed_id %>" data-video-width="640" data-video-height="360">
              this is displayed if javascript is disabled
            </div>
          </div>

          <div class="large-4 medium-12 columns wistia">

            <button id="trigger-overlay" class="make-it-happen-btn">
              <h2>MAKE IT<br/>HAPPEN</h2>
            </button>
<!--
            <% if company_signed_in? %>
              <h3> You are signed in as a Company</h3>
              <h3> Sign in as a User to make a donation</h3>
            <% end %>
             -->
              <div class="overlay overlay-hugeinc">
                <button type="button" class="overlay-close">Close</button>

                <nav id="balance-nav">
                    <ul id="balance-wrapper">
                      <li id="balance-text">YOUR BALANCE</li>
                      <li id="balance-box">£ 12</li>
                        <%= button_to project_donations_path(@project, amount: 100), remote: true do %>
                          <p id="balance-donate-pound">DONATE £1</p>
                          <hr/>
                          <p id="balance-cta">Spread the word!</p>
                        <% end %>
                    </ul>
                </nav>
              </div>

              <button id="project-btn" class="btn-vid project-info">
                <h3>PROJECT INFO</h3>
              </button>

              <button id="company-btn" class="btn-vid company-info">
                <h3>COMPANY INFO</h3>
              </button>

          </div>
        </div> <!-- end row -->

        <div class="row portal">
          <div id="portal" class="large-12 columns portal">
            <h2>PROJECT INFO</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div> <!-- end large-12 columns portal -->

          <div id="portal2" class="large-12 columns portal">
            <h2>COMPANY INFO</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div> <!-- end large-12 columns portal -->
        </div> <!-- end row -->

      </div> <!-- end block1-bg -->

<!-- SECTION 2: FUNDERS GALLERY -->

    <div id="block2-bg">

     <div class="row block2">
        <div class="small-6 large-centered columns">
          <h1><%= image_tag "crowdleaf.png"%> Meet the crowdd </h1>


        </div>
      </div>
    </div> <!-- end block2-bg -->

<!-- SECTION 3: DISCOVER PROJECTS -->

    <div id="block3-bg">
      <div class="large-12 columns discover-title">
        <h2>FEATURED PROJECTS</h2>
      </div>
      <div class="row projects-top" data-equalizer>

        <div class="large-4 columns projects">
            <ul class="pricing-table" data-equalizer-watch>
              <li><%= image_tag("wistia-holder_698x393.png", :alt => "project thumbnail") %></li>
              <br/>
              <li><h4>PROJECT TITLE HERE</h4></li>
              <li id="prj-text"><h5>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                blah blah blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blahblah blah blah blah blah blahblah blah blah blah blah blah blah blah blah blah blah blah blah blah</h5></li>
              <li>
                <div id="navcontainer">
                  <ul>
                    <li class="funded">£ 1,645</li>
                    <li class="backers">25</li>
                    <li class="days2go">£4,000</li>
                  </ul>

                  <ul class='definitions'>
                    <li class="funded">£1 donations</li>
                    <li class="backers">days left</li>
                    <li class="days2go">Target</li>
                  </ul>
                </div>
              </li>
              <li class="cta-button"><a class="button" href="#">GO TO PROJECT</a></li>
            </ul>
        </div>

        <div class="large-4 columns projects">
              <ul class="pricing-table" data-equalizer-watch>
                <li><%= image_tag("wistia-holder_698x393.png", :alt => "project thumbnail") %></li>
                <br/>
                <li><h4>PROJECT TITLE HERE</h4></li>
                <li id="prj-text"><h5>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                  blah blah blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blahblah blah blah blah blah blahblah blah blah blah blah blah blah blah blah blah blah blah blah blah</h5></li>
                <li>
                  <div id="navcontainer">
                    <ul>
                      <li class="funded">£ 1,645</li>
                      <li class="backers">25</li>
                      <li class="days2go">£4,000</li>
                    </ul>

                    <ul class='definitions'>
                      <li class="funded">£1 donations</li>
                      <li class="backers">days left</li>
                      <li class="days2go">Target</li>
                    </ul>
                  </div>
                </li>
                <li class="cta-button"><a class="button" href="#">GO TO PROJECT</a></li>
              </ul>
          </div>

        <div class="large-4 columns projects">
              <ul class="pricing-table" data-equalizer-watch>
                <li><%= image_tag("wistia-holder_698x393.png", :alt => "project thumbnail") %></li>
                <br/>
                <li><h4>PROJECT TITLE HERE</h4></li>
                <li id="prj-text"><h5>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                  blah blah blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blahblah blah blah blah blah blahblah blah blah blah blah blah blah blah blah blah blah blah blah blah</h5></li>
                <li>
                  <div id="navcontainer">
                    <ul>
                      <li class="funded">£ 1,645</li>
                      <li class="backers">25</li>
                      <li class="days2go">£4,000</li>
                    </ul>

                    <ul class='definitions'>
                      <li class="funded">£1 donations</li>
                      <li class="backers">days left</li>
                      <li class="days2go">Target</li>
                    </ul>
                  </div>
                </li>
                <li class="cta-button"><a class="button" href="#">GO TO PROJECT</a></li>
              </ul>
          </div>
        </div>

      <div class="row projects-bottom" data-equalizer>

        <div class="large-4 columns projects">
              <ul class="pricing-table" data-equalizer-watch>
                <li><%= image_tag("wistia-holder_698x393.png", :alt => "project thumbnail") %></li>
                <br/>
                <li><h4>PROJECT TITLE HERE</h4></li>
                <li id="prj-text"><h5>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                  blah blah blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blahblah blah blah blah blah blahblah blah blah blah blah blah blah blah blah blah blah blah blah blah</h5></li>
                <li>
                  <div id="navcontainer">
                    <ul>
                      <li class="funded">£ 1,645</li>
                      <li class="backers">25</li>
                      <li class="days2go">£4,000</li>
                    </ul>

                    <ul class='definitions'>
                      <li class="funded">£1 donations</li>
                      <li class="backers">days left</li>
                      <li class="days2go">Target</li>
                    </ul>
                  </div>
                </li>
                <li class="cta-button"><a class="button" href="#">GO TO PROJECT</a></li>
              </ul>
          </div>

          <div class="large-4 columns projects">
                <ul class="pricing-table" data-equalizer-watch>
                  <li><%= image_tag("wistia-holder_698x393.png", :alt => "project thumbnail") %></li>
                  <br/>
                  <li><h4>PROJECT TITLE HERE</h4></li>
                  <li id="prj-text"><h5>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                    blah blah blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blahblah blah blah blah blah blahblah blah blah blah blah blah blah blah blah blah blah blah blah blah</h5></li>
                  <li>
                    <div id="navcontainer">
                      <ul>
                        <li class="funded">£ 1,645</li>
                        <li class="backers">25</li>
                        <li class="days2go">£4,000</li>
                      </ul>

                      <ul class='definitions'>
                        <li class="funded">£1 donations</li>
                        <li class="backers">days left</li>
                        <li class="days2go">Target</li>
                      </ul>
                    </div>
                  </li>
                  <li class="cta-button"><a class="button" href="#">GO TO PROJECT</a></li>
                </ul>
            </div>


          <div class="large-4 columns projects">
                <ul class="pricing-table" data-equalizer-watch>
                  <li><%= image_tag("wistia-holder_698x393.png", :alt => "project thumbnail") %></li>
                  <br/>
                  <li><h4>PROJECT TITLE HERE</h4></li>
                  <li id="prj-text"><h5>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                    blah blah blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blahblah blah blah blah blah blahblah blah blah blah blah blah blah blah blah blah blah blah blah blah</h5></li>
                  <li>
                    <div id="navcontainer">
                      <ul>
                        <li class="funded">£ 1,645</li>
                        <li class="backers">25</li>
                        <li class="days2go">£4,000</li>
                      </ul>

                      <ul class='definitions'>
                        <li class="funded">£1 donations</li>
                        <li class="backers">days left</li>
                        <li class="days2go">Target</li>
                      </ul>
                    </div>
                  </li>
                  <li class="cta-button"><a class="button" href="#">GO TO PROJECT</a></li>
                </ul>
            </div>

      </div>
    </div> <!-- end of block3-bg -->


<!-- SECTION 4: SOCIAL BAKING -->

    <div id="block4-bg">
      <div class="row block4">
        <div class="small-6 large-centered columns" id="ico-social" >
          <ul>
            <li><a class="social" href="http://twitter.com/crowdded" style="text-decoration:none" target="_blank">
                <i class="fa fa-twitter fa-5x"></i></a>
            </li>
            <li><a class="google" href="http://google.com/crowdfunding" style="text-decoration:none" target="_blank">
                <i class="fa fa-google-plus fa-5x"></i></a>
            </li>
            <li><a class="face" href="http://facebook.com/anath.abensour" style="text-decoration:none" target="_blank">
                <i class="fa fa-facebook fa-5x"></i></a>
            </li>
            <li><a class="linkedin" href="http://linkedin.com/" style="text-decoration:none" target="_blank">
                <i class="fa fa-linkedin fa-5x"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <script src="http://fast.wistia.net/static/E-v1.js"></script>

    <script>
      wistiaEmbed = Wistia.embed("<%= @project.hashed_id %>", {

      playerColor: "ff0000",
      fullscreenButton: false,
      container: "wistia_<%= @project.hashed_id %>",
      videoFoam: true
      // videoWidth: 400,
      // videoHeight: 338
    });
    </script>


    <%= javascript_include_tag "foundation.min.js" %>
    <%= javascript_include_tag "classie.js" %>
    <%= javascript_include_tag "demo1.js" %>


    <script>
      $(document).ready(function() {

        $(document).foundation();

        $('#project-btn').click(function() {
                $('#portal').slideToggle("slow").siblings().hide("slow");
        });

        $('#company-btn').click(function() {
                $('#portal2').slideToggle("slow").siblings().hide("slow");
        });

      });
    </script>

  </body>
</html>
