
<%= stylesheet_link_tag "foundation.css" %> 
<%= stylesheet_link_tag "sign-in.css" %> 


<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,900,800,700,500,300,100,200' rel='stylesheet' type='text/css'>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="row">
    <div class="large-12 columns leaf">
      <%= image_tag "crowdleafgrey.png" %>
    </div>

    <div class="large-12 columns leaf">
      <h2>SIGN IN</h2>
    </div>
  </div>

  <div class="row">
    <div class="small-10">

      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline"><%= f.label :email %></label>
        </div>
        <div class="small-9 columns">
          <%= f.email_field :email, :autofocus => true %>
        </div>
      </div>  

      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline"><%= f.label :password %></label>
        </div>
        <div class="small-9 columns">
          <%= f.password_field :password %>
        </div>
      </div> <!-- end of row -->

      <div class="row">
        <div class="small-3 columns">&nbsp;</div>
        <div class="small-4 columns">
          <!-- <input type="checkbox" name="pokemon" value="Red" class="left inline" id="checkbox"><label for="checkbox">Remember me</label> -->

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>
        
        </div>
        <div class="small-5 columns">
          <input type="checkbox" name="pokemon" value="Red" class="left inline" id="checkbox"><label for="checkbox">Forgot your password?</label>
        </div>
      </div>

      <div class="row">
        
        <div class="small-3 columns">&nbsp;</div>
        <div class="small-3 columns">
          <!-- <a href="#" class="button" class="left inline">Sign in</a> -->
          <%= f.button "Sign in" %>
        </div>

        <div class="small-2 columns"><i class="fa fa-twitter fa-2x"></i></div>
        <div class="small-2 columns"><i class="fa fa-facebook fa-2x"></i></div>
        <div class="small-2 columns"><i class="fa fa-linkedin fa-2x"></i></div>
      </div>

    </div>
  </div> <!-- end of row (top) -->
<!-- </form> -->
<% end %>