<!DOCTYPE html>
<html>
<head>
  <title>Crowdded</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "foundation.css" %>
  <%= stylesheet_link_tag "foundation-icons.css" %>
  <%= stylesheet_link_tag "main1.css" %>
  <link rel="shortcut icon" href="../favicon.ico">
  <%= stylesheet_link_tag "demo.css" %>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "default.css" %>
  <%= stylesheet_link_tag "demo2.css" %>
  <%= stylesheet_link_tag "fallback" %>

  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= javascript_include_tag "modernizr.js" %>

</head>
<body>

  <% if notice %>
	  <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
	  <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>

</body>
</html>
